html,body {
    height: 100vh; 
}
body {
    min-height: 100vh;
    background-color: white;
}
.page {
    min-height: 100vh;
}

.centering {
    text-align: center;
}

.login_area {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_box {
    background-color: white;
    margin: 10px;
    border: 2px solid black;
    padding: 2px 10px;
}

.col-fixed {
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    .col-fixed {
      width: 600px;
    }
}
.textbox {
    width: 100%;
    box-sizing: border-box;
}

.header {
    min-height: 10vh;
    background-color: brown;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.greetings{
    background-color: aquamarine;

}

.menubar {
    background-color: grey;

}


.fill-height {
    flex-grow: 1;
}

.display {
    background-color: bisque;
}
