*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(75, 66, 66);
    height: 100px;
}
.text-header{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    line-height: 100px;
}


.item-category{
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}
.item-category a{
    text-decoration: none;
    color: blue;
}

.title{
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
}
.item-product{
    text-align: center;
    padding: 5px 0;
}
.add-to-cart{
    background-color: brown;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #000;
    text-decoration: none;
}
.add-to-cart:hover{
    opacity: 1;
}
.price{
    margin-bottom: 5px;
}



.cart-table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.cart-table td{
    border: 1px solid #000;
    padding: 5px 0;
}
.delete-action{
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}
.countinue-add{
    font-weight: 600;
    color: #333333;
    text-decoration: none;
}
#hover{
    display: inline-block;
}
.countinue-add:hover{
    color: #0096d9;
}
#hover:hover{
    color: #0096d9;
}


.pay-order{
    text-decoration: none;
    border: 1px solid #000;
    padding: 5px 10px;
    color: #000;
}
.order-sum{
    margin-bottom: 10px;
}
.tks-for-payment{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}


.admin-table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.admin-table td{
    border: 1px solid #000;
    padding: 5px 0;
}
