.cart a:hover span{
    color: #0096d9;
}
.nav-top-brand a:hover{
    color: #0096d9 !important;
}
.login img{
    margin-top: 8px;
    padding-top: 0px !important;
}
.login:hover img{
    margin-top: 4px;
}
.name-user,.logout{
    line-height: 38px;

    float: left;
    margin-left: 15px;
}
.logout{
    margin-left: 30px;
}
.logout:hover a{
    color: #0096d9 !important;
}
.__img_prod{
    height: 115px;
    border-radius: 6px;
    margin-top: 8px;
}
.grid_1_of_4:hover{
    box-shadow: 0px 0px 14px rgb(150 150 150);
}
.grid_1_of_4:hover .__img_prod{
    margin-top: 0px;
}
.images_3_of_2{
    box-shadow: 0px 0px 1px rgb(150 150 150);
}
.images_3_of_2:hover{
    box-shadow: 0px 0px 6px rgb(150 150 150);
}
.list-products{
    min-height: 600px;
}
.__title_prod{
    height: 46px;
}
.images_1_of_4 .button{
    width: 100%;
}
.__banner_sale{
    width: 100%;
    margin-top: 20px;
}
.__banner_sale:hover{
    box-shadow: 0px 0px 20px rgb(150 150 150);
}
.__cart-table{
    width: 100%;
}
.select-page{
    padding: 15px 20px;
    border: 1px solid #EBE8E8;
    border-radius: 3px;
}
.select-page .pre-page{
    float: left;
}
.select-page .next-page{
    float: right;
}
.select-page a{
    color: #333333;
}
.select-page a:hover{
    color: #0096d9;
}
.page-no p:hover{
    color: #0096d9;
}
.product-desc p{
    padding: 7px 20px;
    color: #000;
}
.span_3_of_2 p{
    color: #000;
}
.customer-table{
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid #000;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0;
}
.customer-table thead th{
    border-bottom: 2px solid #000;
    border-left-width: 0;
    border-right: 1px solid #000;
    border-bottom-width: 2px;
    padding: 12px;
    font-weight: 600;
}
.customer-table tbody td{
    border: 1px solid #000;
    border-bottom-width: 0;
    border-left-width: 0;
    padding: 0.75rem;
    vertical-align: top;
}
.customer-table tbody tr:hover{
    color: #212529;
    background-color: rgba(0,0,0,.075);
}
#toTop{
    background: url(../img/arrow_up.png) no-repeat right top;
}
.content{
    min-height: 500px;
}

@media (max-width: 739px) {
    .rightsidebar{
        display: none;
    }
    .heading{
        width: 50%;
    }
    .page-no{
        padding-top: 8px;
        float: right;
    }
    .name-user,.logout{
        margin-top: 1rem;
    }
    .grid_1_of_4:hover .__img_prod{
        margin-top: 8px;
    }
    .col-sm-10{
        width: 100px;
        float: left;
    }
}
@media (min-width: 740px) and (max-width: 1023px){
    .images_1_of_4 .button{
        margin-left: 0px;
    }
    .grid_1_of_4:hover .__img_prod{
        margin-top: 8px;
    }
    .rightsidebar{
        display: none;
    }
    ul.menu.list-unstyled li a{
        font-size: 14px;
    }
    .page-no{
        padding-top: 0px;
    }
    .col-sm-2{
        width: 100px;
        float: left;
    }
    .col-sm-10{
        width: 150px;
        float: left;
    }
    .name-user,.logout{
        margin-top: 1rem;
    }
}