.__img_prod{
    height: 115px;
}
.__title_prod{
    height: 46px;
}
.images_1_of_4 .button{
    width: 100%;
}
.__banner_sale{
    width: 100%;
    margin-top: 20px;
}
.__cart-table{
    width: 100%;
}
#toTop{
    background: url(../img/arrow_up.png) no-repeat right top;
}
.__header-admin{
    background-color: #204562 !important;
}
.__nav-admin{
    background-color: #315c7c !important;
    padding: 0 ;
}
.bd-aside .btn::before {
    width: 1.25em;
    line-height: 0;
    content: url();
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}
.bd-aside .btn[aria-expanded="true"]::before {
    transform: rotate(90deg)
}
.__adminnav{
    justify-content: unset !important;
}
.__adminnav a{
    line-height: 46px;
    padding: 0 50px;
    margin-right: 0 !important;
}
.__adminnav a:hover{
    background-color: #103D5F;
}
@media (min-width: 1200px) {
    .container{
        max-width: 1200px !important;
    }
}
#admin{
    background: url(../img/body_bg3.jpg);
}
.__sidebar-admin{
    background-color: #D1DEE4;
    min-height: 500px;
}
.admin-table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.admin-table td{
    border: 1px solid #000;
    padding: 5px 0;
}
.__content{
    padding: 10px;
}